@if (IsAvailable)
{
    <span class="badge text-bg-success">Tillgõnglig</span>
}
else
{
    <span class="badge text-bg-secondary">UtlÕnad</span>
}

@code {
    [Parameter, EditorRequired]
    public bool IsAvailable { get; set; }
}
